<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link href="https://fonts.googleapis.com/css?family=Gugi|Lato:300" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/styling/style.css">

  </style>
</head>
<body>

<div class = "background">

  <div class = "grid">
    <button class = "login"><a href="employers/login"> Login </a></button>
    <button class = "signUp"><a href="employers/register"> Sign Up </a></button>
  </div>

</div>

</body>
</html>
