<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>

  <h1> <%= employer.name %> </h1>

  <h2> <%= jobs.description %> </h2>

<form action=":id" method="POST">
  <input name="description" type="text" placeholder="job description">
  <input name="location" type="text" placeholder="location">
  <input name="start_date" type="date" placeholder="yyyy/mm/dd">
  <input name="pay" type="number" placeholder="hourly">
  <input name="job_title" type="text" placeholder="job title">
  <select name="job_id">
    <option value="<%= employer.id %>"> <%= employer.name%></option>
  </select>
  <input type="submit" name = "post">
</form>

</body>
</html>
