<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>

<form action="/employers" method="POST">
  <input type = 'text' name = 'name'  placeholder="name of company"><br>
  <input type = 'text' name = 'logo'  placeholder="logo url"><br>
  <input type = 'text' name = 'email'  placeholder="email"><br>
  <input type = 'text' name = 'password'  placeholder="password"><br>
  <input type = 'sumbit' name="Sumbit">
</form>




</body>
</html>
