<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>

<link href="https://fonts.googleapis.com/css?family=Gugi|Lato:300" rel="stylesheet">

<style>

  *{
    margin: 0px;
    padding: 0px;

  }

  .grid{
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
  ". . . title . . . "
  ". . statement statement statement . ."
  ". . bt1 . bt2 . ."
  ". . . . . . ."
  ". . . . . . ."

  }
  .title, .bt1, .bt2{
    font-family: 'Gugi', cursive;
  }

  .bt1{
    grid-area: bt1;
  }

  .bt1:hover{
    letter-spacing: 5px;
    color: gray;
  }
  .bt2{
    grid-area: bt2;
  }

  .bt2, .bt1 {
    border-radius: 12px;
    cursor: pointer;
    text-transform: uppercase;
    transition: all .5s linear;
    width: 10vw;
    height: 10vh;
    justify-self: center;
    align-self: center;
    background: rgba(255, 255, 255, 0.3);
    border: none;
    outline: none;
  }

   .bt2:hover{
    letter-spacing: 5px;
    color: gray;
  }

  a{
    text-decoration: none;
    color: black;
  }

  .statement{
    grid-area: statement;
    font-family: 'Lato', sans-serif;
     justify-self: center;
    align-self: end;
    text-align: center;
  }

  .title{
    padding: 0;
    height: 14px;
    grid-area: title;
    justify-self: center;
    align-self: end;
    font-size: 3.5em;
    letter-spacing: 2px;
  }

.background{
  height: 100vh;
  width: 100vw;
  margin: auto;
  background: url("/images/cover2.jpg");
  top: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}




</style>

<body>
<div class = "background">
  <div class = "grid">



    <p class = "title"> Giggs</p>
    <div class = "statement"> Commited To Connecting Employers & Future Employees</div>
    <button class ="bt1"><a class="bt1" href="/workers"> Worker</a> </button>
    <button class = "bt2"><a class="bt2" href="/employers"> Employer</a> </button>
  </div>
</div>
</body>
</html>
