<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<link href="https://fonts.googleapis.com/css?family=Gugi|Lato:300" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/styling/style.css">

</style>


<body>
<div class = "background">

  <div class = "grid">
    <button class = "login"><a href="workers/login"> Login </a></button>
    <button class = "signUp"><a href="workers/register"> Sign Up </a></button>
  </div>

</div>

</body>
</html>
